<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/header %>
  <title>Homepage</title>
</head>
<body id="homepageBody">

  <h1>The Culinary Classifieds</h1>

  <form id="signup-form">

  <button id="homeLogin" type="submit" class="btn btn-primary">Login</button>
  <button id="homeSignup" type="submit" class="btn btn-primary">Sign Up</button>
</form>
<% include ./partials/footer %>
</body>
</html>
