<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/header %>
  <title>Ingredient</title>
</head>
<body>
  <form class="ingredientCreate">
    <div class="input-group mb-3">
      <div class="input-group-prepend"></div>
      <input id="ingredientCreateInput" type="text" placeholder="Ingredient" class="form-control">
      <div class="input-group-append"></div>
    <div class="input-group mb-3">
      <div class="input-group-prepend"></div>
      <input id="amountCreateInput" type="text" placeholder="Amount (ex: 2 cups)" class="form-control">
      <div class="input-group-append"></div>
    </div>
    <button id="addIngredientBtn" type="submit" class="btn btn-success">Add Ingredient</button>
    </div>
  </form>

  <ul class="ingredientUl">
    <% for (let i = 0; i < ingredients.length; i++) { %>
    <li><%=ingredients[i].ingredient + " - " + ingredients[i].amount%><button id="<%=ingredients[i]._id%>" type="button" class="ingredientClassBtn float-right btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal">Update</button></li>
    <% } %>
  </ul>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button id="deleteBtn" type="button" class="btn btn-secondary" data-dismiss="modal">Delete Ingredient</button>
          <button id="saveChangesBtn" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<% include ./partials/footer %>

</body>
</html>
