<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/header %>
  <title>Homepage</title>
</head>
<body id="homepageBody">
  <!-- <img src="/images/cutting-board.jpg"> -->
  <h1>The Culinary Classifieds</h1>

  <form id="login-form">
  <div class="form-group">
    <label for="exampleInputEmail1"><span>Email address</span></label>
    <input id="email-input" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"><span>Password</span></label>
    <input id="pw-input" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <button id="loginBtn" type="submit" class="btn btn-primary">Login</button>
  <a href="/signup">Sign Up</a>
</form>
<% include ./partials/footer %>
</body>
</html>
