<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/header %>
  <title>Profile</title>
</head>
<body>
  <div id="profileBackground">
  <h1>Welcome Back Chef!</h1>
<form class="recipeCreate">
    <input id="userIdHidden" type="hidden" class="form-control" value="">
  <div class="input-group mb-3">
    <div class="input-group-prepend"></div>
    <input id="recipeCreateInput" type="text" placeholder="New Recipe" class="form-control">
    <div class="input-group-append"></div>
  <button type="submit" class="btn btn-success">Create</button>
  </div>
</form>

  <ul class="profileUl">
    <% for (let i = 0; i < recipes.length; i++) { %>
    <li><%=recipes[i].recipeName%><a href="profile/ingredient/<%=recipes[i]._id%>"><button id="<%=recipes[i]._id%>" type="button" class="float-right btn btn-success btn-sm">View Recipe</button></a></li>
  <% } %>
  </ul>

  <a id="logout" href="/logout" class="btn btn-default"><button type="button" class="btn btn-secondary">Logout</button></a>
<% include ./partials/footer %>
  </div>
</body>
</html>
