<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/header %>
  <title>Profile</title>
</head>
<body>
  <h1><%= message %></h1>
<form class="recipeCreate">
  <div class="input-group mb-3">
    <div class="input-group-prepend"></div>
    <input id="recipeCreateInput" type="text" placeholder="New Recipe" class="form-control">
    <div class="input-group-append"></div>
  <button type="submit" class="btn btn-success">Create</button>
  </div>
</form>

  <ul class="profileUl">
    <p class="newBullet">
<button id="viewRecipe" type="button" class="btn btn-success">View Recipe</button>
    </p>
  </ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="scripts/app.js"></script>
</body>
</html>
