<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/header %>
  <title>Homepage</title>
</head>
<body id="homepageBody">
  <!-- <img src="/images/cutting-board.jpg"> -->
  <h1>WELCOME BACK CHEF!</h1>

<% include ./partials/footer %>
</body>
</html>
