h1 {
  color: red;
}

#loginForm {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.recipeCreate {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.ingredientCreate {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#addIngredientBtn{
  margin-left: auto;
  margin-right: auto;
}

.profileUl {
  padding: 0;
  list-style-type: none;
  margin-left: 30%;
}
