h1 {
  color: red;
}

#loginForm {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#createInput {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
