h1 {
  text-align: center;
  font-family: 'Rochester', cursive;
  font-size: 75px;
  text-shadow: 2px 2px #7E914F;
}

span {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 25px;
}

li {
  font-size: 30px;
  padding: 5px 0;
  font-family: 'Reem Kufi', sans-serif;
  text-shadow: 2px 2px white;
}

#cookingInstruction {
  margin-left: 45%;
}

#profileBackground {
  background-image: url("/images/risotto.jpeg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#logout {
  margin-left: 47%;

}
.updateBox {
  border: 2px solid #7E914F;
  border-radius: 5px;
}

#homepageBody {
  background-image: url("/images/kitchen.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.deleteRecipeBtn {
  position: relative;
  margin-left: 46%;
}

#cookingForm {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
  margin-bottom: 50px;
}
#signup-form {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 5%;
}

#login-form {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 5%;
}

.recipeCreate {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 10%;
}

.ingredientCreate {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#addIngredientBtn{
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  margin-right: 45%;
}


.profileUl {
  padding: 0;
  list-style-type: none;
  margin-left: 30%;
}

.ingredientUl {
  padding: 0;
  list-style-type: none;
  margin-left: 30%;
}
